.scoreAdjust{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.scoreAdjustPlayer1, .scoreAdjustPlayer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    border: 1px solid #3d3d3d;
}
.scoreAdjustPlayer1 > button {
    width: 25px;
    height: 2rem;
    align-items: center;
    justify-content: center;
}
.scoreAdjustPlayer2 > button {
    width: 25px;
    height: 2rem;
    align-items: center;
    justify-content: center;
}


